{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        .slidecontainer {
            width: 100%;
        }

        .register {
            background: -webkit-linear-gradient(left, #263a4d, #5c7e9b);
            margin-top: 0%;
            padding: 4%;
        }

        .register-left {
            text-align: center;
            color: #fff;
            margin-top: 4%;
        }

        .register-left input {
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            width: 60%;
            background: #f8f9fa;
            font-weight: bold;
            color: #383d41;
            margin-top: 30%;
            margin-bottom: 3%;
            cursor: pointer;
        }

        .register-right {
            background: #f8f9fa;
            border-top-left-radius: 10% 50%;
            border-bottom-left-radius: 10% 50%;
        }

        .register-left img {
            margin-top: 15%;
            margin-bottom: 5%;
            width: 25%;
            -webkit-animation: mover 2s infinite alternate;
            animation: mover 1s infinite alternate;
        }

        @-webkit-keyframes mover {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-20px);
            }
        }

        @keyframes mover {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-20px);
            }
        }

        .register-left p {
            font-weight: lighter;
            padding: 12%;
            margin-top: -9%;
        }

        .register .register-form {
            padding: 10%;
            margin-top: 10%;
        }

        .btnRegister {
            float: center;
            margin-top: 10%;
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            background: #2B465F;
            color: #fff;
            font-weight: 600;
            width: 50%;
            cursor: pointer;
        }

        input[type="submit"]:disabled {
            background: #dddddd;
        }

        .register .nav-tabs {
            margin-top: 3%;
            border: none;
            background: #2B465F;
            border-radius: 1.5rem;
            width: 28%;
            float: right;
        }

        .register .nav-tabs .nav-link {
            padding: 2%;
            height: 34px;
            font-weight: 600;
            color: #fff;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }

        .register .nav-tabs .nav-link:hover {
            border: none;
        }

        .register .nav-tabs .nav-link.active {
            width: 100px;
            color: #2B465F;
            border: 2px solid #2B465F;
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }

        .register-heading {
            text-align: center;
            margin-top: 8%;
            margin-bottom: -15%;
            color: #495057;
        }

        .text-area {
            margin-left: 8%;
            margin-right: 8%;
            margin-bottom: 2%;
        }

        .audiobox {
            margin-top: -5%;
            margin-bottom: 2%;
            text-align: center;
        }

        #currentPbr {
            width: 50px;
            font-size: 15px;
            padding-left: 2%;
        }

        .counter {
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Text to speech</title>
</head>

<body>
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://i.ibb.co/0Jg7D3B/UMAMI-Logo-text2speech.png" alt="" />
                <h4>UMAMI E-Learning Solutions</h4>
                <p>Convert your text to speech in 6 simple steps!
                    <ol>
                        <li> Type your text.</li>
                        <li> Choose a language.</li>
                        <li> Choose a voice type.</li>
                        <li>Choose the voice gender.</li>
                        <li> Select the preferred voice.</li>
                        <li> Speak it!</li>
                    </ol>
                </p>
            </div>
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Convert your text to speech</h3>
                        <form method="get" class="row register-form" id="text2speechform"
                            data-types-url="{% url 'ajax_load_types' %}"
                            data-genders-url="{% url 'ajax_load_genders' %}"
                            data-names-url="{% url 'ajax_load_names' %}" convert-url="{% url 'ajax_convert' %}">
                            <textarea class="text-area" rows="10" cols="60" name="text" id="textspace"
                                maxlength="10000"></textarea>
                            <div class="counter"><span style="float: left; margin-left: 35%">Characters count (Limit is
                                    5000):</span>
                                <span style="float: left;margin-left: 5%" id="characters">00</span></div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" id="lang">
                                        <option class="hidden" selected disabled>Language</option>
                                        {% for l in langs %}
                                        <option type="checkbox" value="{{ l.pk }}">{{ l.language_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group">
                                    <select id="gender" class="form-control" disabled>
                                        <option class="hidden" selected disabled>Gender</option>
                                    </select>
                                </div>
                                <input type="submit" class="btnRegister" value="Speak it!" id="submitbtn"
                                    disabled="disabled" />
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select id="types" class="form-control" disabled>
                                        <option class="hidden" selected disabled>Voice Type</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" disabled id="names">
                                        <option class="hidden" selected disabled>Voice Name</option>
                                    </select>
                                </div>


                            </div>

                        </form>
                        <div class="audiobox">
                            <div id="audiobox">
                                <audio id="audioplayer" controls autoplay>
                                    <source src="" type="audio/mpeg">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>

                            <div style="padding-right: 15px">
                                Speed: <span id="currentPbr">1</span>
                            </div>
                            <div class="slidecontainer">
                                <input type="range" min="0.1" max="3" step="0.1" value="1" id="speed"
                                    ondragover="setPlaySpeed()">

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(updateCount);
        $('#textspace').keyup(updateCount);
        $('#textspace').keydown(updateCount);

        function updateCount() {
            var cs = $('#textspace').val().length;
            $('#characters').text(cs);
        }
    </script>
    <script>
        let i = document.querySelector('#speed'),
            o = document.querySelector('#currentPbr');


        o.innerHTML = i.value;

        // use 'change' instead to see the difference in response
        i.addEventListener('input', function () {
            aud = document.querySelector('#audioplayer');
            o.innerHTML = i.value;
            aud.playbackRate = i.value;
        }, false);
    </script>
    <script>
        $("#lang").change(function () {
            var url = $("#text2speechform").attr("data-types-url");  // get the url of the `load_cities` view
            var lpk = $(this).val();  // get the selected country ID from the HTML input
            $("#types").prop('disabled', 'disabled');
            $("#gender").prop('disabled', 'disabled');
            $("#names").prop('disabled', 'disabled');
            $("#types").html("<option class=\"hidden\"  selected disabled>Loading...</option>");
            $("#gender").html("<option class=\"hidden\"  selected disabled>Gender</option>");
            $("#names").html("<option class=\"hidden\"  selected disabled>Voice Name</option>");
            $("#male_radio").prop('disabled', 'disabled');
            $("#female_radio").prop('disabled', 'disabled');
            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'langpk': lpk       // add the country id to the GET parameters
                },
                success: function (data) {
                    $("#types").removeAttr("disabled");
                    $("#types").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script>
    <script>

        $("#types").change(function () {
            var url = $("#text2speechform").attr("data-genders-url");  // get the url of the `load_cities` view
            $("#gender").prop('disabled', 'disabled');
            $("#names").prop('disabled', 'disabled');
            $("#gender").html("<option class=\"hidden\"  selected disabled>Loading...</option>");
            $("#names").html("<option class=\"hidden\"  selected disabled>Voice Name</option>");

            var type = $(this).val();
            var lpk = $("#lang").val();

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'langpk': lpk,
                    'type': type       // add the country id to the GET parameters
                },
                success: function (data) {
                    $("#gender").removeAttr("disabled");
                    $("#gender").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });

        });
    </script>

    <script>

        $("#gender").change(function () {
            var url = $("#text2speechform").attr("data-names-url");  // get the url of the `load_cities` view
            $("#names").prop('disabled', 'disabled');
            $("#names").html("<option class=\"hidden\"  selected disabled>Loading...</option>");
            var type = $("#types").val();
            var lpk = $("#lang").val();
            var gender = $(this).val();

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'langpk': lpk,
                    'type': type,
                    'gender': gender// add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#names").removeAttr("disabled");
                    $("#names").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });


        });
        $("#names").change(function () {
            $("#submitbtn").removeAttr("disabled");
        });
    </script>
    <script>
        $("#text2speechform").submit(function () {
            var url = $(this).attr("convert-url");  // get the url of the `load_cities` view
            var lpk = $("#lang").val();
            var text = $("#textspace").val();
            var name = $("#names").val();// get the selected country ID from the HTML input
            var gender = $("#gender").val();
            $("#submitbtn").prop('value', "Loading...")

            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'name': name,
                    'langpk': lpk,
                    'text': text,
                    'gender': gender// add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#audiobox").html(data);
                    $("#submitbtn").prop('value', "Speak it!");
                }

            });
            return false;

        });
    </script>
</body>

</html>